@import 'reset';
@import 'src/styles/vars';
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

body {
  font-family: sans-serif;
}

p, ul, li, li > a {
  color: $content-color;
}

li {
  padding-bottom: .5em;
}

a {
  transition: all .3s;
}

li > a:hover {
  color: $green !important;
}
