@import 'src/styles/vars';

.recipe {
  background-color: #aeb0e2;
  color: #343890 !important;
  font-weight: bold;
  border: 1px solid #343890 !important;
  padding: .5em;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
  border-radius: 5px;
  font-size: .8em;

  &:last-child {
    margin-bottom: 0;
  }

  &-icon {
    font-size: 1.2em;
    padding: .5em;

    & i {
      padding: 0 .5em;

      &:first-child {
        border-right: 1px solid;
      }
    }
  }
}

.calendar {
  width: 100% !important;
  margin: 80px auto !important;
  box-shadow: 1px 20px 30px #cecece !important;
  padding: 1em !important;

  &-header {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;

    &-button {

      &--save, &--initial {
        border: none;
        padding: 1em 3em;
        margin-right: 1em;
        color: #FFF;
        border-radius: 5px;
        font-weight: bold;
        transition: all .3s;
      }
    
      &--save {
        background-color: $blue;

        &:hover {
          background-color: $blue-dark
        }
      }

      &--initial {
        background-color: $green;

        &:hover {
          background-color: $green-dark
        }
      }
    }
  }

  &-days {
    display: flex;
    width: 100%;
    justify-content: space-between;

    & li {
      width: 100%;
      display: inline;
      text-align: center;
      border: 1px solid #cecece;
    }
  }

  &-cell {
    display: flex;
    width: 100%;
    justify-content: space-between;

    & ul {
      width: 100%;
      display: inline;
      text-align: center;
      border: 1px solid #cecece;
      padding: 1em;
    }

    &-recipe {
      color: $blue !important;
    }
  }


  &-cell-add--meal {
    border: 1px dashed #acacac;
    padding: .5em;
    color: #acacac;
    border-radius: 5px;
    font-size: .8em;
    height: 150px;
    width: 100%;
    max-width: 60px;
    min-width: 100%;
    display: flex;
    cursor: pointer;
    transition: all .3s;
    
    &:first-child {
      margin-bottom: 1em;
      border-bottom: 1px solid $green;
    }

    &:last-child {
      margin-top: 1em;
    }

    &:hover {
      background-color: $blue-light;
      border-color: $blue;
    }

    & span {
      display: block;
      margin: auto;
      align-self: center;
    }

    &:hover span {
      display: none;
    }

    &:hover:before {
      display: block;
      transition: all .3s;
      width: 100%;
    }

    &:before {
      content: "\f055";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-size: 30px;
      color: $blue;
      display: none;
      align-self: center;
      margin: auto;
    }

    & h4 {
      margin-bottom: 0;
    }

    & i, p, div  {
      display: none;
    }
  }

  &-footer-button {
    width: 100%;
    display: block;
    background-color: $green;
    color: #FFF;
    border-radius: 5px;
    padding: 1em;
    font-weight: bold;
    font-size: 1.5em;
    transition: all .3s;

    &:hover {
      color: #FFF;
      background-color: $green-dark;
    }
  }
}
