@import 'src/styles/vars';

.hero-section-recipe {
  min-height: 250px;
  position: relative;
  background-size: cover;
  background-position: center;
  margin : 2em 0 0;

  &-content {
    z-index: 100;
    position: absolute;
    color: #FFF;
    bottom: 0;
    padding: 1em;

    &:before {
      content:"";
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: -1;
      background: linear-gradient(to right, $blue, $green);
      opacity: .8;
    }

    & p {
      color: #FFF !important;
    }
  }
}
