@import 'src/styles/vars';


.ui.grid > [class*="four column"].row > .column {
  @media screen and (min-width: 200px) and (max-width: 400px) {
    width: 100% !important;
  }
  
}

.footer {
  background-color: #f9f9f9;
  padding: 2em;

  &-logo {
    position: relative;
    margin: 2em 0;

    @media screen and (min-width: 200px) and (max-width: 400px) {
      position: absolute;
      top: 60px;
    }
  }

  &-column
  {
    @media screen and (min-width: 200px) and (max-width: 400px) {
      display: flex;
      flex-direction: column !important;
      margin-top: 60px;
    }
  }

  & h3 {
    color: $blue;
  }
  
  &-social-media i {
    color: $green;
    font-size: 2em;
    padding-right: 0.5em;
    transition: all .3;

    &:hover {
      color: $green-dark;
    }
  }

}
